.vscode
.directory
**/*.out
**/*.class
**/*.aux
**/*.fls
**/*.fdb_latexmk
Semester5/Assignment/images/
*.log
*.synctex.gz
*.main.*
***/private/*
Semester5/Minor_Proj/private/*
.cache
/Semester5/Embedded_System/Practical/Exp_2_4662.X/dist/
/Semester5/Embedded_System/Practical/Exp_2_4662.X/build/
/Semester5/Embedded_System/Practical/Exp_3_4662.X/build/
/Semester5/Embedded_System/Practical/Exp_3_4662.X/dist/
/Semester5/Embedded_System/Practical/MST-1_425.X/build/
/Semester5/Embedded_System/Practical/MST-1_425.X/dist/
Semester5/Minor_Proj/__latexindent_temp.tex
.ipynb_checkpoints/